/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< TOP >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Header: The Mars Website */
h1 {
    font-size: 65px;
}
/* Header: Button */
.btn btn-primary btn-lg {
    background-color: #e7e7e7; 
    color: black;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< WHOLE BODY >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Jumbotron */
.jumbotron text-center {
    color:cadetblue;
    text-align: center;
}
.jumbotron text-center h1 {
    font-size: 80px;
    color: black;
}
p {
    font-size: 50px;
}

#grad {
    background-color: linear-gradient(rgb(208, 208, 126), rgb(122, 122, 90));
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< BODY: MIDDLE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Featured Image */
h2 {
    text-align: center;
}

/* <<<<<<<<<< CARD TITLE >>>>>>>>>> */
h4 {
    font-size: 20px;
    text-align: center;
}
/* <<<<<<<<<< CARD TITLE: Hemisphere Name >>>>>>>>>> */
h5 {
    font-size: 20px;
    text-align: center;
}
/* <<<<<<<<<< CARD: Source >>>>>>>>>> */
h6 {
    font-size: 20px;
    text-align: center;
}





